# Build output
/dist/
tsconfig.tsbuildinfo
*.vsix

# Dependencies
/node_modules/

# VS Code workspace
/.vscode/

# Local / private files
/VscPlate.todo

# Ignore helper scripts prefixed with ignore.*
**/ignore.*
